* {
  font-family: sans-serif;
  box-sizing: border-box;
}
.descriptor {
  text-align: center;
  margin: 2px 0;
  background-image: linear-gradient(to right, #0f2133, #a1d2ff);
}
.descriptor > h1 {
  margin: 0;
  color: white;
  padding: 1rem;
}
.btn-group {
  width: 90%;
  margin: 0 auto 1px auto;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.btn-group > button {
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.6rem;
  border-radius: 3px;
}
.btn-group > button:hover {
  background-color: #ddeefe;
}
