* {
  font-family: sans-serif;
  box-sizing: border-box;
}
.descriptor {
  text-align: center;
  margin: 2px 0;
  background-image: linear-gradient(to right, #0f2133, #a1d2ff);
}
.descriptor > h1 {
  margin: 0;
  color: white;
  padding: 1rem;
}
.btn-group {
  width: 90%;
  margin: 0 auto 1px auto;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.btn-group > button {
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.6rem;
  border-radius: 3px;
}
.btn-group > button:hover {
  background-color: #ddeefe;
}

/* carousel styling */

#carousel-container {
  width: 90%;
  margin: auto;
  grid-template-columns: minmax(min-content, 768px);
  grid-gap: 2px;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.carousel-img-frame {
  padding: 1rem;
  grid-column: 1 / span 1;
  grid-row: 1/2;
}

/* grid styling */

#grid-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.grid-img-frame {
  padding: 1rem;
}

/* stying image cards same for both 
grid and carousel views */

.img-card {
  padding: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.grid-image {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  max-width: 100%;
  max-height: 600px;
}
.grid-caption {
  max-width: 100%;
  width: auto;
  display: block;
  padding: 1rem;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: #ddeefe;
}
/* media queries for grid display
only */

@media screen and (max-width: 960px) {
  #grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 720px) {
  #grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 540px) {
  #grid-container {
    grid-template-columns: 1fr;
  }
}
